<!DOCTYPE html>
<html ng-app="cal">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://apis.google.com/js/client.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/app.css" type="text/css">

 </head>
<body>
   
        <div id="" ng-controller="MainCtrl" class="container">
            <div class="row">
                <h4 ng-show="!authenticated"> To get started
                <button ng-click="init()" class="btn btn-default"> Authenticate</button> 
                with your google account </h4>

                <div id="cal-info" ng-show="authenticated && $storage.calId != null" class="col-md-12">
                    <h4>Calendar: {{$storage.calSummary}}
                        <button class="btn btn-xs btn-default" ng-click="getCalendars()"> Change Calendar</button>
                    </h4>
                </div>
            
            </div>

            <div id="settings" ng-show="authenticated && $storage.calId != null && $storage.dateIsSet == false || edit==true" class="row">
                <div class="col-md-12">
                    <h3>Settings</h3>
                    <form role="form">
                        <div class="form-group" ng-class="{hasError: !dateIsSet}">
                            <label>Choose a Start Date</label>
                            <input ng-model="$storage.startDate" type="date" class="form-control">
                            <label>Set a starting balance</label>
                            <input class="form-control" ng-model="$storage.sBalance" type="text">
                            <button class="btn btn-default btn-sm" ng-click="setDate();" ng-disabled="$storage.sBalance == null || $storage.startDate == null">Done</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <div id="calendars" ng-show="calSelector && authenticated" class="row">
                <div class="col-md-12">
                    <h2>Choose a Calendar</h2>
                    <ul>
                        <li ng-repeat="cal in cals"><a href="#" ng-click='setCal($event, cal)'>{{cal.summary}}</a></li>
                    </ul>
                </div>
            </div>

            <div ng-show="authenticated" class="row">

                <div class="col-md-12" ng-show="!edit && $storage.calId != null && $storage.dateIsSet" id="settings-info">
                    <h5>Start Date: {{$storage.startDate}}</h5>
                    <h5>Starting Balance: ${{$storage.sBalance}}</h5>
                    <button class="btn btn-xs btn-default" ng-click="edit=true"> Change Settings</button>
                </div>
                <div id="controls" class="col-md-3">
                    <label># of Months: {{$storage.numMonths}} </label>
                    <input id="months" ng-model="$storage.numMonths" type="range" min="1" max="12"  ng-change="monthsChange()"/>
                </div>
                <div ng-show="events.length > 0" class="col-md-12" id="events">
                    <div id="chart-wrap">
                     
                    </div>
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Activity</th>
                                <th>Balance</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr ng-repeat="e in events">
                                <td>{{e.fDate}}</td> <td>{{e.summary}}</td> <td>${{e.balance}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div><!-- end events wrap-->
        </div>
        <script src="static/js/libs/angular.min.js" type="text/javascript"></script>
        <script src="static/js/libs/ngStorage.min.js" type="text/javascript"></script>
        <script src="static/js/libs/d3.v3.min.js"></script>
        <script src="static/js/app.js" type="text/javascript"></script>
</body>
</html>
