
html{
    height:100%;
}

body{
    background:#86466F;
    height:100%;
}

.navbar{
    border:none;
    background:#5F2D4D;
    border-radius: 0px;
    color:#fff;
    margin-bottom:10px;
}   

.container.main{
    background:#fff;
    border:thin solid #644A5B;
    border-top:none;
    border-bottom:none;
    padding-bottom: 2%;
    padding-top:10px;
}

.fill{
    min-height:100%;
}


thead{
    background:#5F2D4D;
    color:#fff;
    border-left:none;
    border-right:none;
    border-top: none !important;
    border-bottom:none !important;
}

thead tr{
    border:none !important;
}

thead tr th{
    border-top:none !important;
    border-bottom:none !important;
    border-color:rgb(108, 55, 116) !important;
}

circle{
    opacity:.7;
}

h5{
    font-weight:bold;

}

h5 .setting, label .setting{
    font-weight:normal;
}

#settings button{
    margin:5px 0;
}

#settings-info, #cal-info {
    cursor:pointer;
}
#settings-info button,
#cal-info button{
    visibility:hidden;
}

#settings-info:hover button,
#cal-info:hover button{
    visibility:visible;
}

table{
    font-size:12px;
    border-top:none !important;
}

#chart-wrap{
    min-height:400px;
    font-size:10px;
    padding:10px;
    margin:10px 0;
    background:#f8f8f8;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e3e3e3;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(9, 129, 240);
  stroke-width: 1px;
  stroke-dasharray:5;
}

#today-line{
    stroke:#444;
}

