
#settings-info, #cal-info {
    cursor:pointer;
}
#settings-info button,
#cal-info button{
    visibility:hidden;
}

#settings-info:hover button,
#cal-info:hover button{
    visibility:visible;
}

#chart-wrap{
    min-height:400px;
    font-size:10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #f3f3f3;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(9, 129, 240);
  stroke-width: 1px;
  stroke-dasharray:5;
}

